/*Tanya Rodman
CSS for ex 3*/

* {margin: 0; padding: 0;}

body {
    width: 900px;
    margin: auto;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 10px;
}

header {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 20px;
    letter-spacing: 10px;
    line-height: 50px;
    text-align: center;
    padding: 40px 0px 40px 0;
    border-bottom: solid 1px grey;
    margin-bottom: 40px;
    margin: auto;
    margin-bottom: 40px;
}

nav#sortMood {
/*    I had to change width and padding left to align the "energy mood and confused buttons to the middle. for some reason, this was acting funny without the strange width and padding-left setting*/
    width: 680px;
    padding-left: 220px;
    padding-top: 125px;
}

section h3 {
    width: 130px;
    text-align: center;
    margin: 0px 10px 0px 10px;
    font-family: 'Julius Sans One', sans-serif;
    border-radius: 15px;
    background-color: #e4e4e4;
    font-size: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

h2 {
    padding: 0px 0px 30px 0px;
}

section {
    float: left;
    width: 150px;
    text-align: center;
}

section img {
    padding-bottom: 10px;
    width: 60px;
}

article {
    float: left;
    position: relative;
    margin-top: 40px;
    width: 900px;
    height: 50px;
    margin-bottom: 50px;
    padding-top:220px;
}

/*CIRCLES ON CIRCLES*/

div{
    float: left;
    margin-left: 24px;
    width: 20px;
    height: 20px;
    border-radius: 50px;
}

div.circleFreelance{
    background-color: #dcedc8;
}

div.circlePlay {
    background-color: #85d7d1;
}

div.circleErrands {
    background-color: #2267ab;
}

div.circleSchool {
    background-color: #1a237e;
}

footer {
    position: absolute;
    margin: 0;
    width: 800px;
    height: 20px;
    bottom: 0;
    text-align: center;
    font-size: 12px;
    padding-bottom: 10px;
}

footer a {
    text-decoration: none;
    margin-left: 30px;
    color: black;
}

footer a:hover {
    color: lightseagreen;
}

p {
    width: 100px;
    height: 50px;
    position: absolute;
    bottom: 50px;
    text-align: center;
    visibility: hidden;
    font-size: 12px;
}


p#s2{
    left: 30px;
}
p#s3{
    left: 75px;
} 
p#s4{
    left: 120px;
} 
p#s5{
    left: 160px;
} 
p#s6{
    left: 200px;
} 
p#s7{
    left: 250px;
} 
p#s8{
    left: 295px;
} 
p#s9{
    left: 335px;
} 
p#s10{
    left: 380px;
} 
p#s11{
    left: 425px;
} 
p#s12{
    left: 470px;
} 
p#s13{
    left: 515px;
} 
p#s14{
    left: 557px;
} 
p#s15{
    left: 600px;
} 
p#s16{
    left: 645px;
} 
p#s17{
    left: 690px;
} 
p#s18{
    left: 730px;
} 
p#s19{
    left: 777px;
} 
p#s20 {
    left: 820px;
    
}




